<div class="main-container">
  <h1 class="title">Поиск изображений</h1>

  <form class="search-form" id="search-form">
    <input
      class="search-form__input"
      type="text"
      name="query"
      autocomplete="off"
      placeholder="Найти картинку..."
      id="input"
    />

    <button class="btn btn__search" id="search" type="submit">
      <span class="material-icons"> image_search </span>
    </button>
  </form>

  <div class="cards-container">
    <span id="spin"></span>
    <ul class="gallery" id="cards-js"></ul>

    <div class="btn-container">
      <button class="btn btn__more" id="more" type="button">Загрузить ещё ...</button>
      <span id="spinMore"></span>
    </div>
  </div>

  <div class="modal is-hidden" id="modal-js">
    <span id="spinModal"></span>
    <img class="image-large" src="" alt="" />
  </div>
</div>
