<div class="main-container">
  <h1 class="title">Поиск изображений</h1>
  <form class="search-form" id="search-form">
    <input
      class="search-form__input"
      type="text"
      name="query"
      autocomplete="off"
      placeholder="Найти картинку..."
      id="input"
    />
    <button class="btn btn__search" id="search" type="submit">
      <span class="material-icons"> image_search </span>
    </button>
  </form>
  <div class="cards-container">
    <ul class="gallery" id="cards-js"></ul>
  </div>
  <button class="btn btn__more" id="more" type="button">Загрузить ещё ...</button>
  <div class="modal" id="modal-js">
    <img class="image-large" src="" alt="" />
  </div>
</div>
