.btn {
   border-radius: $b-radius;

   &__search {
      width: 45px;
      height: 45px;
   }
   
   &__more {
      display: none;
      margin: 0 auto;
      padding: $gap / 4 $gap;
      font-size: $font-size;
   }

   &__search,
   &__more {
      color: $btn-bg-color;
      transition: color $time $time-func,
         background-color $time $time-func;

      &:hover,
      &:focus {
         cursor: pointer;
         color: $reverse-color;
         background-color: $btn-bg-color;
      }
   }
}