.gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: 100%;
    margin-bottom: $gap; 
    background-color: $color;
    padding: $gap / 3;
    border: 1px solid $border-color;
    border-radius: $b-radius;
    
    @media screen and (min-width: $tablet) and (max-width: ($laptop - 1)) {
      flex-basis: calc((100% - #{$gap}) / 2);
      &:nth-child(odd) {
        margin-right: $gap;
      }
    }

    @media screen and (min-width: $laptop) and (max-width: ($desktop - 1)){
      flex-basis: calc((100% - #{$gap} * 2) / 3);
      &:not(:nth-child(3n)) {
        margin-right: $gap;
      }
    }
  
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - #{$gap} * 3) / 4);

      &:not(:nth-child(4n)) {
        margin-right: $gap;
      }
    }

    // transition: transform $time $time-func;

    // &:hover,
    // &:focus {
    //   transform:scale(1.05);
    // }
  }
}
