.gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: 100%;
    margin-bottom: $gap;

  @media screen and (min-width: $tablet + 120) {
    flex-basis: calc(100% / 2 - #{$gap});
    &:nth-child(odd) {
      margin-right: $gap;
    }
  }
  
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - #{$gap} * 2);
    &:not(:nth-child(3n+3)) {
      margin-right: $gap;
    }
  }
}
}
