.image {
  display: block;
  min-width: 100%;
  height: 100%;
  border-radius: 50%;

  @media screen and (min-width: $tablet) {
    height: 180px;
    object-fit:cover;
  }

  @media screen and (min-width: $laptop) {
    height: 200px;
  }

  transition: transform $time $time-func,
  opacity $time $time-func,
  border-radius $time $time-func;

  &:hover,
  &:focus {
    cursor: zoom-in;
    border-radius: $b-radius;
    opacity: 0.8;
    transform: scale3d(1.03, 1.05, 1);
  }
}