.image {
  display: block;
  opacity: 0;
  min-width: 100%;
  transform: scale(0.5);
  border-radius: $b-radius;
  transition: transform $time $time-func,
    opacity $time $time-func;

  @media screen and (min-width: $tablet) {
    height: 180px;
    object-fit:cover;
  }

  @media screen and (min-width: $laptop) {
    height: 200px;
  }

  transition: transform $time $time-func,
  opacity $time $time-func;

  &:hover,
  &:focus {
    cursor: zoom-in;
    opacity: 0.8;
    transform: scale3d(1.03, 1.05, 1);
  }

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}