.image {
  display: block;
  min-width: 100%;
  height: 100%;
  outline: 1px solid $border-color;

  @media screen and (min-width: $tablet) {
    height: 180px;
    object-fit: cover;
  }

  @media screen and (min-width: $laptop) {
    height: 200px;
    object-fit: cover;
  }

}