.main-container {
  background-color: $bg-color;
  padding: $gap 0;
}

.cards-container {
  padding: $gap;
}

.photo-card {
  position: relative;
}

.stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: $gap / 4 $gap / 2;
  justify-content: flex-end;
  opacity: 0;
  font-size: 10px;
  color: $color;
  border-bottom-left-radius: $b-radius;
  border-bottom-right-radius: $b-radius;
  transform: translate3d(0, 100%, 0);
  background-color: $bg-color-op;
  transition: transform $time $time-func,
    opacity $time $time-func;


  &-item:not(:last-child) {
    margin-right: $gap / 2;
  }

  .image:hover + & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}