.modal {
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: $bg-color-modal;
  transform: scale3d(1, 1, 1);
  transition: opacity $time $time-func,
    transform $time $time-func;

  &.is-hidden {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }
}